<?xml version="1.0"?>
<launch>
  <arg name="start_can" default="false"/>
  <!-- <group ns="sensor/radar">

    <node pkg="continental_driver" type="hmi_bridge_node" name="hmi_bridge_node" output="screen">
      <param name="can_radar_rx" value="/can0_rx"/>
      <param name="can_radar_tx" value="/can0_tx"/>
      <param name="fps_radar_tx" value="10"/>
      <param name="config_times" value="0"/>
      <param name="can_frame_id" value=""/>
      <param name="radar_type" value="1"/>
      <param name="radar_id_old" value="0"/>
      <param name="radar_id_new" value="0"/>
      <param name="output_type" value="1"/> 
    </node>
  </group> -->

   <!-- <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="can0_node" output="screen">
    <param name="can_device" value="can0"/>
    <remap from="received_messages" to="/can0_rx"/>
    <remap from="sent_messages" to="/can0_tx"/>
   </node>
   <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="can1_node" output="screen">
    <param name="can_device" value="can1"/>
    <remap from="received_messages" to="/can1_rx"/>
    <remap from="sent_messages" to="/can1_tx"/>
   </node> -->

</launch>
