<?xml version="1.0"?>
<launch>
  <arg name="start_udp" default="true"/>
  <group ns="hmi/hmi_bridge">

    <node pkg="hmi_bridge" type="hmi_bridge_node" name="hmi_bridge_node" output="screen">
      <param name="fps_pub_" value="10"/>
      <param name="topic_name_rx" value="/hmi_display"/>
      <param name="topic_name_tx" value="/hmi_config"/>
    </node>
  </group>

   <!-- <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="can0_node" output="screen">
    <param name="can_device" value="can0"/>
    <remap from="received_messages" to="/can0_rx"/>
    <remap from="sent_messages" to="/can0_tx"/>
   </node>
   <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="can1_node" output="screen">
    <param name="can_device" value="can1"/>
    <remap from="received_messages" to="/can1_rx"/>
    <remap from="sent_messages" to="/can1_tx"/>
   </node> -->

</launch>
